@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Harmond";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(./assets/fonts/harmond/harmond-extrabold.woff2) format("woff2"),
      url(./assets/fonts/harmond/harmond-extrabold.woff) format("woff"),
      url(./assets/fonts/harmond/harmond-extrabold.ttf) format("truetype"),
      url(./assets/fonts/harmond/harmond-extrabold.otf)
        format("embedded-opentype");
  }
}

@layer utilities {
  .optimize-text-rendering {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .stroke-sm {
    text-shadow: 0.1vw 0 #A09BFD, -0.1vw 0 #A09BFD, 0 0.1vw #A09BFD, 0 -0.1vw #A09BFD,
      0.1vw 0.1vw #A09BFD, -0.1vw -0.1vw #A09BFD, 0.1vw -0.1vw #A09BFD, -0.1vw 0.1vw #A09BFD;
  }

  .text-shadow-white {
    text-shadow: 0 0 1vw rgba(236, 236, 248, 0.6);
  }

  .shadow-accent-btn {
    box-shadow: 0 0 17.5px rgba(46, 37, 218, 25%);
  }

  .shadow-accent-btn:hover {
    box-shadow: 0 0 17.5px rgba(46, 37, 218, 50%);
  }

  .bg-purple-noise {
    background-image: url("./assets/purpleNoise.jpg");
  }

  .bg-gradient-radial {
    background: radial-gradient(#4137fb, #0a0396);
  }

  .shadow-extraxl-still {
    box-shadow: 0 0 40px rgba(65, 55, 251, .25);
  }
}
