@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Harmond";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(./assets/fonts/harmond/harmond-extrabold.woff2) format("woff2"),
      url(./assets/fonts/harmond/harmond-extrabold.woff) format("woff"),
      url(./assets/fonts/harmond/harmond-extrabold.ttf) format("truetype"),
      url(./assets/fonts/harmond/harmond-extrabold.otf)
        format("embedded-opentype");
  }
}

@layer utilities {
  .optimize-text-rendering {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .stroke-sm {
    text-shadow: 0.1vw 0 #6392aa, -0.1vw 0 #6392aa, 0 0.1vw #6392aa, 0 -0.1vw #6392aa,
      0.1vw 0.1vw #6392aa, -0.1vw -0.1vw #6392aa, 0.1vw -0.1vw #6392aa, -0.1vw 0.1vw #6392aa;
  }

  .text-shadow-white {
    text-shadow: 0 0 1vw rgba(255, 255, 255, 0.6);
  }
}
